<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKET_MANAGEMENT-SYSTEM</title>
</head>
<body>
    <div>HEADER</div>
    <div><%- body%></div>
    <div>BOTTOM</div>
</body>
</html>