<header>
    <nav>
        <a href="/">TMS</a>
        
        <form method="POST" action="/users/login">
            <label>USERNAME</label>
            <input type="text" name="userName" required/><br>
            <label>PASSWORD</label>
            <input type="password" name ="userPwd" required/><br><br>
            <button type="Submit">LOGIN</button>
            <button type="reset">CLEAR</button>
            <a href="/users/register">REGISTER</a>


        </form>
    </nav>
</header>